@{
    Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Are you sure you want to delete this recipe?</h2>
<hr />
<h3>Recipe Name: @Html.DisplayFor(model => model.RecipeName)</h3>
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="btn btn-danger" />
}
<hr />
@Html.ActionLink("Back to Recipe List", "Index", null, null, new {@class="btn btn-primary"})
<p>@Html.ActionLink("Home", "Index", "Home", null, new {@class="btn btn-primary"})</p>