@{
    Layout = "_Layout";
}

@model RecipeBox.Models.Tag

<h4>Add a new Tag</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.TagName)
    @Html.TextBoxFor(model => model.TagName)
    <input type="submit" value="Add new Tag" />
}
<p>@Html.ActionLink("Show all Tags", "Index")</p>