@{
    Layout = "_Layout";
}

@model RecipeBox.Models.Tag

<h4>Create A New Tag</h4>
<hr />
@using (Html.BeginForm())
{
    @Html.TextBoxFor(model => model.TagName)
    <input type="submit" value="Add new Tag" class="btn btn-primary" />
}
<hr />
<p>@Html.ActionLink("Show all Tags", "Index", null, null, new {@class="btn btn-primary"})</p>
<p>@Html.ActionLink("Home", "Index", "Home", null, new {@class="btn btn-primary"})</p>