@{
    Layout = "_Layout";
}

@model RecipeBox.Models.Tag

<h2>Are you sure you want to delete this tag?</h2>
<hr/>
@Html.DisplayNameFor(model => model.TagName): @Html.DisplayFor(model => model.TagName)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
<hr/>
@Html.ActionLink("Back to Tags", "Index")
<p>@Html.ActionLink("Home", "Index", "Home")</p>