@{
    Layout = "_Layout";
}

@using RecipeBox.ViewModels

@model RegisterViewModel

<h2>Create an Account</h2>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <p>Account Email: @Html.TextBoxFor(user=> user.Email)</p>
    <p>Enter Password: @Html.PasswordFor(user=> user.Password)</p>
    <p>Confirm Password: @Html.PasswordFor(user=> user.ConfirmPassword)</p>
    <input type="submit" value="Register" class="btn btn-primary" />
}
<hr />
<p>@Html.ActionLink("Home", "Index", "Home", null, new {@class="btn btn-primary"})</p>